//! **************************************************************************
// Written by: Map P.20131013 on Thu Mar 23 20:52:59 2017
//! **************************************************************************

SCHEMATIC START;
COMP "E" LOCATE = SITE "M18" LEVEL 1;
COMP "RS" LOCATE = SITE "L18" LEVEL 1;
COMP "RW" LOCATE = SITE "L17" LEVEL 1;
COMP "clk" LOCATE = SITE "L13" LEVEL 1;
PIN clk_pin<0> = BEL "clk" PINNAME PAD;
PIN "clk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "rst" LOCATE = SITE "N17" LEVEL 1;
COMP "DB<0>" LOCATE = SITE "R15" LEVEL 1;
COMP "DB<1>" LOCATE = SITE "R16" LEVEL 1;
COMP "DB<2>" LOCATE = SITE "P17" LEVEL 1;
COMP "DB<3>" LOCATE = SITE "M15" LEVEL 1;
COMP "dout<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "dout<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "dout<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "dout<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "dout<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "dout<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "dout<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "dout<7>" LOCATE = SITE "F9" LEVEL 1;
COMP "SF_CE0" LOCATE = SITE "D16" LEVEL 1;
COMP "din<0>" LOCATE = SITE "B4" LEVEL 1;
COMP "din<1>" LOCATE = SITE "A4" LEVEL 1;
PIN din<1>_pin<0> = BEL "din<1>" PINNAME PAD;
PIN "din<1>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "din<2>" LOCATE = SITE "D5" LEVEL 1;
COMP "din<3>" LOCATE = SITE "C5" LEVEL 1;
COMP "din<4>" LOCATE = SITE "A6" LEVEL 1;
COMP "din<5>" LOCATE = SITE "B6" LEVEL 1;
COMP "din<6>" LOCATE = SITE "E7" LEVEL 1;
COMP "din<7>" LOCATE = SITE "F7" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

